<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title>Rover</title>
</head>
<body>
    <div class="centerLayer">
        <form action="/map" method="post">
            <input type="submit" name="submit_button" value="Display map">
        </form>
        <form action="/photos" method="post">
            <input type="submit" name="submit_button2" value="Watch photos">
        </form>
        <form action="/app" method="post">
            <input type="submit" name="submit_button3" value="Download Android App">
        </form>
    </div>
</body>
</html>